 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
$border-gray: #b6b6b6;

header {
  @include span-columns(12);
  background-image: url('../images/header.jpg');
  height: 300px;
  background-size: cover;
  background-position: center center;
}

.maj-title {
  text-align: center;
  font-size: 106px;
  font-family: 'Tangerine';
  color: #a8a353;
  margin-top: 91px;
}

.master-container {
  @include outer-container;
}

.categories-container {
  @include span-columns(3);
}

.food-items-container {
  @include span-columns(6);
}

.order-items-container {
  @include span-columns(3);
}

.food-items-heading {
  margin: 0;
  padding: 5px 0 5px 0;
  outline: 1px solid $border-gray;
  background: #f1f1f1;
  margin-bottom: 5px;
  text-align: center;
}

.food-pics {
  height: 60px;
  width: 60px;
  background-size: cover;
  background-position: center center;
}

.food-items {
  @include span-columns(12);
  @include omega;
  list-style: none;
  outline: 1px solid $border-gray;
  padding: 10px;
  margin-bottom: 5px;

}

.category-items {
  list-style: none;
  /* height: 60px; */
  @include span-columns(12);
  border: 1px solid $border-gray;
  background-color: #e4e7e5;
  text-align: center;
}

.price-add-container{
  float: right;
}

.order-list {
  outline: 1px $border-gray solid;
}

.order-item {
  list-style: none;
}

.order-item-heading {
  margin: 0;
  margin-right: 10px;
  float: left;
}

.total-price {
  float: right;
}

.submit-button {
  width: 100%
}
