 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
$border-gray: #b6b6b6;

header {
  @include span-columns(12);
  background-image: url('../images/header.jpg');
  height: 300px;
  background-size: cover;
  background-position: center center;
}

.maj-title {
  text-align: center;
  font-size: 106px;
  font-family: 'Tangerine';
  color: #a8a353;
  margin-top: 91px;
}

body {
  background: #F6F6F6;
}

.master-container {
  @include outer-container;
}

.categories-container {
  @include span-columns(3);
}

.food-items-container {
  @include span-columns(5.5);

}

.order-items-container {
  @include span-columns(3.5);
}

.dummy-data {
  border: 1px solid #B6B6B6;
  border-radius: 5px;
  padding: 20px;
  margin-top: 15px;
  background: white;

    h2 {
      margin: 0;
    }
}

.thai-food-picture {
  @include span-columns(12);
  height: 350px;
  background: url(/images/thai-food.jpg);
  background-position: center;
  background-size: cover;
  border: 1px solid #B6B6B6;
  border-radius: 5px;
  margin-bottom: 15px;
}

.food-items-heading {
  margin: 0;
  padding: 5px 0 5px 0;
  border: 1px solid $border-gray;
  border-radius: 5px;
  background: #f1f1f1;
  margin-bottom: 5px;
  text-align: center;
}

.food-list {
  padding: 0;
}

.food-pics {
  height: 100px;
  width: 100px;
  margin-top: 20px;
  margin-left: 15px;
  background-size: cover;
  background-position: center center;
  border-radius: 5px;
  border: 1px solid gray;
}

.food-items {
  @include span-columns(12);
  @include omega;
  list-style: none;
  border: 1px solid $border-gray;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  background: white;

  button {
    border-radius: 5px;

    &:hover {
      background-color: #808080;
    }
  }

}

.category-items {
  list-style: none;
  @include span-columns(12);
  border: 1px solid $border-gray;
  border-radius: 5px;
  background-color: #e4e7e5;
  text-align: center;
  margin-bottom: 10px;

  &:hover {
    background-color: #808080;
    cursor: pointer;
  }
}

.price-add-container{
  float: right;
}

.order-list {
  border: 1px $border-gray solid;
  padding: 15px;
  border-radius: 5px;
  background: white;
}

.order-item {
  list-style: none;

  button{
    float: left;
    margin-right: 10px;
    margin-top: -4px;
    border-radius: 4px;
    height: 25px;
    width: 25px;
    font-size: 10px;
  }
}

.order-item-heading {
  margin: 0;
  margin-right: 10px;
  font-weight: bold;
  float: left;
}

.order-item-container {
  padding: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  border: 1px solid $border-gray;
  border-radius: 5px;
}

.total-price {
  float: right;
}

.submit-button {
  width: 100%;
  border-radius: 5px;

  &:hover {
    background-color: #808080;
  }
}
