 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles

.categories-container {
  /* float: left; */
}

.food-pics {
  height: 60px;
  width: 60px;
  background-size: cover;
  background-position: center center;
}

.food-items {
  height: 200px;
  width: 600px;
  list-style: none;
}

.category-items {
  list-style: none;
  height: 60px;
  width: 200px;
  border: 1px solid #b6b6b6;
  background-color: #e4e7e5;
  text-align: center;
}
