<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>majesticThai</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link href='http://fonts.googleapis.com/css?family=Tangerine' rel='stylesheet' type='text/css'>
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>
    <header><h1 class="maj-title">Majestic Thai</h1></header>
    <div class='master-container'>
        <div class='categories-container'></div>

        <div class='food-items-container'></div>

        <div class='order-items-container'></div>
    </div><!--master-container-->

        <script type='text/template' id='food-items-template'>
          <h4 class='food-items-heading'><%= title %></h4>
          <%= description %>
          <div class='food-pics' style="background-image: url(<%= imgUrl %>)"></div>
          <div class='price-add-container'>
          <span>Price: $</span><%= price %>
          <button>Add Item</button>
          </div>
        </script>

        <script type='text/template' id='order-items-template'>
          <h4 class='order-item-heading'><%= title %></h4>
          <span>Price: $</span><%= price %>
          <button>Remove</button>
        </script>

        <script type='text/template' id='your-order-template'>
          <h3>Your Order:</h3>
          <button class='submit-button'>Submit</button>
        </script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <script src="../bower_components/backbone/backbone.js"></script>
    <script src="../bower_components/firebase/firebase.js"></script>
    <script src="../bower_components/backfire/backbone-firebase.js"></script>


    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js scripts/main.js -->
        <script src="scripts/main.js"></script>
        <script src="scripts/menu.js"></script>

        <!-- endbuild -->
</body>
</html>
